

@media (max-width: 500px){
    
    
    .about{
        background: red; 
        width: 500px;
     }
     
    
     .about .content{

        flex-direction: column;
        
        }
        
        .about .content .textBx{
        
        min-width:100%;
        width:100%;
        text-align: justify;
        
        }
        
        .about .content{
        
        margin-top: 0;
        }
        
        
        .about .content .imgbx{
        
        margin-left: 0;
        }
     
  
  
}   