*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: sans-serif;
    font-size: 18px;
}

.contenedor{
    width: 500px;
    margin: 40px;
}

.contenedor .formulario .contenedor-inputs{
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0;
}

.contenedor .formulario input[type="text"],
.contenedor .formulario input[type="email"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding:  15px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: sans-serif;
    font-size: 18px;
}

.contenedor .formulario input[type="text"]:focus,
.contenedor .formulario input[type="email"]:focus{
     border-bottom: 2px solid #246eb9;
}

.contenedor .formulario input[type="radio"]{
    display: none;
}

.contenedor .formulario .sexo .hombre{
    border-radius: 7px 0 0 7px;
}

.contenedor .formulario .sexo .mujer{
    border-radius: 0px 7px 7px 0px;
}

.contenedor .formulario .sexo{
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom: 20px;
}

.contenedor .formulario .label-radio{
    background: rgba(249,160,63,.4);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 49.5%;
}

.contenedor .formulario input[type="radio"]:checked + .label-radio{
    background:#ce1818;
}

.contenedor .formulario .terminos{
    text-align: center;
    color: #424242;
}

.contenedor .formulario label{
    margin-left: 10px;
}

.contenedor .formulario .error{
    display: none;
    margin-top: 20px;
    border-radius: 3px;
    background: #ce1818;
    color: #fff;
    padding: 15px 10px;
    padding-left: 40px;
}

.contenedor .formulario .btn{
    width: 100%;
    text-align: center;
    background: #246eb9;
    color: #fff;
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-family: sans-serif;
    font-size: 18px;
}

.contenedor .formulario .btn:hover{
    background: #4357ad;
}

.contenedor .tabla{
    margin: 50px 0 0 0;
    width: 500px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 6px 6px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#fff;}

.optionbutton{
    margin-top:10px;
    margin-bottom:10px;
}


.optionbutton label{

   color: rgb(121, 116, 116);
    font-family: sans-serif;
    font-size: 18px;
}

.option-boton{

    color: rgb(121, 116, 116);
     font-family: sans-serif;
     font-size: 18px;
    border: solid 2px #424242;
     
 }
 
 .select-class{
    width: 400px;
    height:50px;
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(121, 116, 116);

 }


















 @media (max-width: 500px){
    
    .contenedor{
        width: 476px;
        margin: 0px;
    }
       
    .contenedor .formulario .contenedor-inputs{
        padding: 5px;
        background: #fff;
        border-radius: 6px 6px 0 0;
    }



   
   
 }   


 @media (max-width: 460px){
    
    .contenedor{
        width: 459px;
        margin: 0px;
    }
       
    .contenedor .formulario .contenedor-inputs{
        padding: 5px;
        background: #fff;
        border-radius: 6px 6px 0 0;
    }

    .contenedor .formulario .contenedor-inputs{
        padding: 0px;
        background: #fff;
        border-radius: 6px 6px 6px 6px;
    }

   
   
 }   


 
 @media (max-width: 360px){
    
    .contenedor{
        width: 359px;
        margin: 0px;
    }
       
    .contenedor .formulario .contenedor-inputs{
        padding: 0px;
        background: #fff;
        border-radius: 6px 6px 6px 6px;
    }


    .select-class{
        width: 300px;
        height:50px;
        font-family: sans-serif;
        font-size: 18px;
        color: rgb(121, 116, 116);
    
     }

     .banner .imgsidebar {
        position: absolute;
        top: 0px;
        left: 0;
        width: 360px;
        height: 100%;
    }

   
   
 }   

 @media (max-width: 330px){
    
    .contenedor{
        width: 359px;
        margin: 0px;
    }
       
    .contenedor .formulario .contenedor-inputs{
        padding: 0px;
        background: #fff;
        border-radius: 6px 6px 0 0;
    }


    .select-class{
        width: 300px;
        height:50px;
        font-family: sans-serif;
        font-size: 18px;
        color: rgb(121, 116, 116);
    
     }

     .banner .imgsidebar {
        position: absolute;
        top: 0px;
        left: 0;
        width: 320px;
        height: 100%;
    }

   
   
 } 