
.containero{
    width: 999px;
    height: 100vh;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.containero .sliderin{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.containero ul{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.containero ul li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}


.containero ul li video{
    width: 100px;
    transition: all 0.3s;
}
.containero ul li video:hover{
    transform: scale(1.1);
}

video{
    width: 100%;
    height: 100%;
}


.containero{
    width: 999px;
    height: 100vh;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}





@media screen and (max-width: 500px) {


    .containero{
        width: 444px;
        height: 100vh;
        position: relative;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    

}