@media (max-width: 500px){


.banner{
    width:500px;
}


    .video{
        display:grid;
        grid-template-columns: 1fr;
        background: yellow;
        width: 500px;

  
    }
    
    .bx-wrapper, .bx-viewport{
        height: 340px !important;
        width: 500px !important;
      }
    

    .banner .contentBx h4{

        font-size: 1.5em;
        color: rgb(26, 250, 220);
        font-weight: 300;
    }
    
    .banner .contentBx h4 span{
    
        color:aquamarine;
        font-size: 1.5em;
        font-weight: 700;
    }
    
    .banner .contentBx h2{
       font-size: 3em;
       color: #333;
       line-height: 1em; 
    }
    
    .text-banner{
        font-size: 1.0em;
        width:300px;
        color:black;
        margin:20px 0;
        font-weight: 300;
        text-align: justify;
    
    }
    
 .galery_container{
    display:grid;
    grid-template-columns: 1fr;
    padding: 20px;
    grid-gap: 10px;
    
   
} 


.imgsidebar
{
position:absolute;

top:0px;
left: 0;
width: 500px !important;
height: 100%;

}

.services .content{
    display: grid;
   grid-template-columns: 1fr;
   margin: 5%;
   align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
   
   
}

.services{
   
    padding: 0;
    width: 500px;
    min-height:100vh; 
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    background-color:black;
   
   
}

.contact{
    background: #000;
    display: flex;
 
   
    justify-content:center;
 
    flex-direction: column;
}
         
.contact .contactform{
    position: relative;
    width:auto;
    
}


.contact .contactform .row{

   width: 100%;
  display: flex;
}

.contact .contactform .row .co150{

    width: 50%;
   margin: 10px;
 }
 
 .contact .contactform .row .co100{

    width: 100%;
   margin: 10px;
   text-align: center;
 }

 .contact .contactform .row input,
 .contact .contactform .row textarea
 {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background:#111;
    color: #fff;
    font-size: 16px;
    resize: none;
 }

 .contact .contactform .row textarea{

     height: 100px;
     
 }
 
 .contact .contactform .row input[type="submit"]
 {

  background:aqua;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing:2px;
  cursor:pointer;
  max-width: 150px;

    
}



.banner .contentBx, .sidebar{

    width: 500px;
   
}



.logoText{

left: 40px;
}

.toggle{

right: 40px;
}

.sci{
left:40px;
}

section{
padding: 5px;
width: 500px;
}



.services .content .servicesBx{

padding: 30px 20px;
max-width: 100%;
margin: 10px;
}

.contact .contactform{

width: 100%;

}

.contactform .row{

width: 100%;
display: flex;
flex-wrap: wrap;
}

.contact .contactform .row .co150{
width: 100%;
margin: 10px;

}


.copy{
    color: #fff;
    background:#111;
    width: 500px;
    text-align: center;
    padding: 10px;
}

.copy p{
   margin: 0;
}



}




@media (max-width: 360px){
    
    

     .banner .imgsidebar {
        position: absolute;
        top: 0px;
        left: 0;
        width: 360px;
        height: 100%;
    }
   
 }   